/* Header */
.header{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.header .inner-logo img{
    max-height: 50px;
    max-width: 100%;
    border-radius: 50%;
}

.header .inner-menu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header .inner-menu > ul > li{
    margin-left: 20px;
}
.header .inner-menu ul li a{
    color: rgb(190, 86, 7);
    font-size: 18px;
    font-weight: 600;
}
.header .inner-menu ul li:hover{
    background-color: #cecece;
}

.header .inner-menu ul li a:hover{
    text-decoration: none;
}
.header .inner-acount > ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
}
.header .inner-acount > ul > li{
    margin-left: 20px;
}
.header .inner-acount ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
/* end header */

* show-alert */
[show-alert]{
    position: fixed;
    top:70px;
    right: 15px;
    z-index: 9999;
}

[show-alert].alert-hidden{
    animation: AlertHidden 0.5s both;
}

@keyframes AlertHidden {
    form{
        right: 15px;
    }
    to{
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert]{
    background: #ffffffc4;
    width: 24px;
    height:24px;
    display: inline-block;
    border-radius: 50%;
    cursor:pointer;
    line-height: 24px;
    font-weight: 600;
    text-align: center;

}
/* end show-alert */

/* footer */
.footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* end footer */

.box-head .inner-title{
    color: rgb(190, 86, 7);
}


/* tour-detail */
.tour-detail .inner-images .inner-image{
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tour-detail .inner-images .mySwiper .inner-image{
    margin-top: 8px;
    height: 80px;
}
.tour-detail .inner-images .inner-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tour-detail .inner-title{
    color: rgb(163, 75, 8);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}
.tour-detail .inner-barcode{
    margin-bottom: 8px;
}
.tour-detail .inner-time-start{
    margin-bottom: 8px;
}
.tour-detail .inner-stock{
    margin-bottom: 8px;
}
.tour-detail .inner-price-spacial{
    margin-bottom: 8px;
    color:rgb(163, 75, 8);
    font-size: 20px;
    font-weight: 700;
}
.tour-detail .inner-price{
    margin-bottom: 8px;
    font-weight: 600;
    text-decoration: line-through;
}
.tour-detail .inner-percent{
    margin-bottom: 8px;
    font-weight: 600;
}
.tour-detail .inner-information{
    margin-top: 30px;
    border: 1px solid #b5b5b5;
    padding: 10px;
    border-radius: 5px;
}
.tour-detail .inner-information .inner-label{
    font-size: 18px;
    font-weight: 700;
    color:rgb(163, 75, 8);
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.tour-detail .inner-information .inner-text{
    white-space:pre-line;
}
.tour-detail .inner-information .inner-text img{
    max-width: 100%;
    height: auto;
}
/* end tour-detail */
